<?xml version="1.0" encoding="utf-8"?>
<manifest package="cz.skala.trezorwallet"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TrezorApplication">

        <activity android:name=".ui.MainActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.getstarted.GetStartedActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".ui.addressdetail.AddressDetailActivity"
            android:label="@string/address"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.transactiondetail.TransactionDetailActivity"
            android:label="@string/transaction"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-0k5s0sr7ux88vz9" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>